{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}"/>
    <title>CloudXLabAssignment</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{% url 'index' %}">Home</a></li>
                <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
                <li><a class="navbar-link" href="{% url 'usersAccount:signUp' %}">Sign up</a></li>
            </ul>

        </div>

    </nav>
    <div class="container">
        {% block body_block %}
        {% endblock %}

    </div>
    
</body>
</html>