{% extends "usersAccount/base.html" %}
{% block title %}User Login!{% endblock %}
{% block body_block %}
<style>
    p{
        color: red;
    }
</style>
<div class="jumbotron">
    <h1>Please Login</h1>
    <form class="form-group" action="{% url 'usersAccount:login' %}" method="POST">
        {% csrf_token %}
        {{form.errors}}
        <label for="username">Username:</label>
        <input type="text" name="username"class="form-control" placeholder="Enter your Username">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" placeholder="Enter your Password">
        <p></p>
        <input type="submit" class="btn btn-primary" value="Login">
    </form>
    {% for message in messages %}
        <p id="message">{{message}}</p>
    {% endfor %}
    
</div>
{% endblock %}